*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif', serif;
    
}
body{
   /* background-image: url(HEROES/yu_zhing.jpg);  */
    /* background-image: linear-gradient(#000000, #e7ac95e4 , #deabf2,
    #a1d2ff , #f19895 ,#9ae9cc , #f3ef9e); */
    background-image: linear-gradient(#000000,#003e6d, #010e74e4 ,#000000);
}

.container{  
    background: #fff1;
    width: 85%;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 20;
    
    -webkit-backdrop-filter : blur (50px) ;
    backdrop-filter : blur (15px);
    background-coLor: rgba (243, 243, 243, 0.2);
}
#filter{
padding: 0 15px;
border-radius: 6px;
box-shadow: 0 10px 30px #000;
border: 1px solid #ffffff40;
}
/* codigo de yutub para colocar horizontlmente*/
.nav-brand{
    width: 200px;
    padding: 10px 0 ;
}
li a img{
    width: 50px;
}
.comba{
    width: 100%;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5px;
    padding: 12px 10px;
    margin: 35px 0;
   
    
}
.nav-main ul {
    display: flex;
    text-decoration: none;
}
.nav-main ul  li {
padding: 10px;
text-decoration: none;
display: block;
}
.nav-main ul .nav-menu{
    flex: 1;
    margin-left: 20px;
}/* codigo de yutub para colocar horizontlmente*/
h2{
    margin-top: 20px;
    text-align: center;
    color: aliceblue;
    text-decoration: underline;
}

.pagina-principal{
    width: 95%;
    height: 80vh;
    margin-top: 20px;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-hero:hover{
    box-shadow: 2px 2px 10px 2px #fff;
    /* backdrop-filter : blur (15px);
    background-coLor: rgba (243, 243, 243, 0.2); */
}

div a img{
    width: 200px;
    height: 400px;
    box-shadow: 1px 1px 5px 1px rgb(41, 39, 39);
    object-fit: cover;
}

/**************DIVISION DE TANKS*****************/
.contenedor-heroe{
    width: 90%;
    height: 100vh;
    margin-left:auto ;
    margin-right:auto ;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: -20px;
    position: relative;
}
.contenedor-heroe>h2{
    position: absolute;
    top: 100px;
    text-align: center;
    color: aliceblue;
    text-decoration: underline;
}


.caja_heroes{
    padding-top: 100px;
    position: relative;
    align-items: center;
}

.boton{
    background: transparent;
    border: 2px solid #fff;
    padding: 10px;
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    margin-left:auto ;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    margin-top: 5px;
    align-items: center;
}

.seccion-personajes>h2{
    font-size: 50px;
    text-decoration: none;
    
}
.seccion-personajes{
    margin: 10  0px 0;
    text-align: center;
}

/************ CONTENEDOR ASESINO **************/
/*  CODIGO IMPORTE */
/* div.contenedor-heroe#area-mago>div3.caja_heroes>div2 */
/**************FICHA DE HEROES*****************/
.ficha_heroe {
    width: 90%;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: -20px;
    position: relative;
    background-color: rgba(255, 0, 0, 0.212);
}
.columna_izquierda{
    width: 30%;
    height: 100%;
    background-color: rgba(229, 255, 0, 0.212);
}
.columna_izquierda a img{
    width: 60%;
    height: 60%;
}
.columna_centro{
    width: 39%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: #18c7fc36;
    text-decoration: underline;
    color: #fff;
}

.columna_derecha {
    width: 30%;
    height: 100%;
    padding-bottom: -20px;
    position: relative;
    background-color: rgba(255, 115, 0, 0.212);
}
/*    Ficha heroe       */
.columna_izquierda{
    position: relative;
}
.columna_izquierda a img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.columna_centro h2{
    text-align: center;
    top: 0;
    margin: 5px 0;
}
/*     Parte hechizos       */
.titulo-hero{
    font-size: 25px;
    text-decoration: none;
    
}
.hechizos{
    width: 80%;
    height: 50px;
    margin: 5px 0;
    text-align: center;
    display: flex;

    justify-content: space-evenly;
}
.hechizos-batalla{
    object-fit: cover;
    width: 50px;
}
/**********************/    
/*      Parte emblemas       */
.emblemas{
    text-align: center;
    width: 80%;
    height: 50px;
    margin: 5px 0;
    display: flex;
    justify-content: space-evenly;
}

/*   -------Parte emblema---------   */
.equipamiento{
    text-align: center;
    width: 90%;
    height: 80px;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.item-equipamiento{
    width: 50px;
}
/*   Parte vombo - ventana emergente   */
.combos{
    text-align: center;         /*      Hacer un botton        */
    width: 90%;
    height: 30px;
    margin: 10px;
}
/*******    columna derecha detalles    *******/
.skin_carusel>h2 , h3{
    color: #fff;
    text-decoration: none;
    
}
.skis_carusel{
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    
    color: rgb(183, 255, 0);
}
.horizontal{
    width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: cover;
}
.video_guia{
    background: #003e6d;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
}
.guias{
    width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: cover;
}

.imagen_carusel{
    width: 100%;
    height: 100%;
}
/*************CARUSEL***************/
.carusel{
    padding-bottom: 5px;
}
/* Parte del video */
.video_guia{
    text-align: center;
}
.video_guia>h3{
    padding: 4px 0;
    text-decoration: none;
    display: inline;
    text-align: center;
    padding-bottom: 20px;
}
video{
    width: 80%;
    height: 70%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 50;
    object-fit: cover;
    position: absolute;
}

.caja-ficha-heroe{
    position: relative;
    text-align: center;
    background: rgb(0, 78, 180);
    
}
.nombre-heroe{
    position: absolute;
    text-align: center;
   top: 0;
   padding-top: 4px 0;
    z-index: 80;
}
  

